body{
	background: #F08080;
	font-size: 150%;
	margin: 3%;
}
section{
	width: 30%;
	display: inline-block;
	float: left;
	margin-right: 2%;
}
.tach{
	width: 45%;
	display: inline-block;
	float: left;
	margin-right: 2%;
}
.ktach{
	clear: both;
}


h1{
	background: #F08080;
	font-size: 200%;
}
	
header{
	background: #FFA07A;
	text-align: center;
	padding-top: 2%;
}
h1{
	background: #FFA07A;
	text-align: center;
	clear: both;
	}
h1{
	color: #FFFFFF;
}
nav {
	font-variant: small-caps;
	font-size: 150%;
	font-family: Arial, "Time New Roman", serfi;
}
h2{
	text-align: center;
	border-style: solid;
	border-color: yellow;
	color: #666666;
	background: #00B7ea;
}
details{

	font-style: italic;
}
summary{
	font-style: normal;
}
div{
	background: #556B2F;
	clear: both;
}
nav{
	color: white;
	background: #556B2F;
	text-align: center;
	clear: both;
}
img{
	width: 50px;
	height: 50px;
}
h3{
	font-size: 75%;
}
a{
	display: inline-block;
	font-weight: bold;
	color: #FAEBD7;
	background: #0006CC;
	width: 200px;
	text-align: center;
	padding: 1px;
	text-decoration: none;
	margin: 0 auto;
	margin-top: 10px;
}
header a{
	background: #BDB76B;
}
a:hover{
	background: #B3B3B3;
	color: #F0FFFF;
}
a:focus{
	background: #B3B3B3;
	color: #0006CC;
}
a:active{
	border: 3px solid #000000;
}
a[href$="185"] {
	background: #00008B;
}

a[href$="051/"] {
	background: #FF69B4;
}
